html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

#body-border-top, #body-border-bottom, #body-border-left, #body-border-right {
    position: fixed;
}
#body-border-left, #body-border-right {
    top: 0;
    bottom: 0;
    width: 5px;
}
#body-border-left { left: 0; }
#body-border-right { right: 0; }

#body-border-top, #body-border-bottom {
    left: 0;
    right: 0;
    height: 5px;
}
#body-border-top { top: 0; }
#body-border-bottom { bottom: 0; }
