@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-all duration-300 ease-in-out;

    /* DEV ONLY */
    /* @apply outline outline-1 outline-red-200; */
  }

  #__next {
    @apply flex min-h-screen flex-col text-awtgrey-700;
  }

  nav > ul > li {
    @apply lg:w-11/12;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply drop-shadow-sm;
  }

  h1 {
    @apply text-2xl font-bold text-white;
  }

  h2 {
    @apply mt-4 text-2xl font-bold leading-loose;
  }

  h3 {
    @apply text-xl font-bold leading-loose;
  }

  h4 {
    @apply text-lg font-semibold leading-loose;
  }

  p {
    @apply text-sm font-medium leading-loose drop-shadow-sm;
  }
}

@layer utilities {
  .wrapper {
    @apply flex w-full flex-wrap justify-center gap-8 px-2;
  }

  .card {
    @apply rounded-xl bg-white/95 bg-cover bg-center bg-no-repeat bg-blend-screen shadow shadow-awtgrey-400;
  }

  .pilot-card {
    @apply rounded-xl bg-cover bg-center bg-no-repeat shadow shadow-awtgrey-400;
  }
}

/* CSS cloud for FetchLoading, FetchError */
@layer components {
  .loader {
    width: 180px;
    height: 140px;
    display: block;
    margin: 0 auto 20px;
    background-image: radial-gradient(
        circle 25px at 25px 25px,
        #eee 100%,
        transparent 0
      ),
      radial-gradient(circle 50px at 50px 50px, #eee 100%, transparent 0),
      radial-gradient(circle 25px at 25px 25px, #eee 100%, transparent 0),
      radial-gradient(circle 15px at 15px 15px, #eee 100%, transparent 0),
      linear-gradient(#eee 50px, transparent 0);
    background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
    background-repeat: no-repeat;
    background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
    position: relative;
  }
  .loader::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 65px;
    width: 2px;
    height: 6px;
    color: #fff;
    animation: animloader 0.6s linear infinite;
  }

  @keyframes animloader {
    0% {
      box-shadow: 25px 0 lightgrey, 50px 0 lightgrey, 75px 0 lightgrey, 100px 0 lightgrey,
        125px 0 lightgrey, 150px 0 lightgrey, 25px 0 lightgrey, 50px 0 lightgrey, 75px 0 lightgrey,
        100px 0 lightgrey, 125px 0 lightgrey, 150px 0 lightgrey;
    }
    50% {
      box-shadow: 25px 20px lightgrey, 50px 60px rgba(255, 255, 255, 0),
        75px 30px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0),
        125px 40px lightgrey, 150px 60px rgba(255, 255, 255, 0), 25px 20px lightgrey,
        50px 30px lightgrey, 75px 10px lightgrey, 100px 30px lightgrey,
        125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 25px 60px rgba(255, 255, 255, 0),
        50px 60px rgba(255, 255, 255, 0), 75px 50px rgba(255, 255, 255, 0),
        100px 70px rgba(255, 255, 255, 0), 125px 70px rgba(255, 255, 255, 0),
        150px 60px rgba(255, 255, 255, 0), 25px 80px rgba(255, 255, 255, 0),
        50px 80px rgba(255, 255, 255, 0), 75px 70px rgba(255, 255, 255, 0),
        100px 60px rgba(255, 255, 255, 0), 125px 30px rgba(255, 255, 255, 0),
        150px 30px rgba(255, 255, 255, 0);
    }
  }
}
